<section class="header-default">
  <nav class="grid h-full w-full grid-cols-8 border-gray-200">
    <article class="col-span-3 my-auto ml-1 sm:ml-4">
      <a href="#" class="flex items-center">
        <img
          src="/assets/image/icon/sql-api-reports.png"
          class="mr-1 sm:mr-3 h-10 w-10 rounded-md"
          alt="Sql Api Reports"
        />
        <h1
          class="self-center tracking-tight sm:tracking-normal whitespace-nowrap text-xl font-semibold dark:text-white"
        >
          SQL Report
          <span
            role="status"
            class="hidden sm:inline text-sky-600 dark:text-sky-500 font-bold"
            >Dashboard</span
          >
        </h1>
      </a>
    </article>
    <article
      class="col-span-1 flex flex-row justify-end items-center sm:px-2 lg:px-4"
    >
      <app-theme-switcher></app-theme-switcher>
    </article>
  </nav>
</section>
