<div
  class="block w-full p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
>
  <h5
    class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
  >
    <span
      role="status"
      class="hidden sm:inline text-sky-600 dark:text-sky-500 font-bold"
      >{{ totalReports }}</span
    >
    Total Scheduled Reports
  </h5>
  <p
    *ngIf="totalReports === null"
    class="font-normal text-gray-700 dark:text-gray-400"
  >
    Loading...
  </p>

  <div *ngIf="companyDetails && companyDetails.length > 0" class="mt-4 flow-root">
    <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
      <li
        class="py-3 sm:py-4 px-2 rounded-lg cursor-pointer"
        (click)="onCompanySelected(null)"
        [ngClass]="{
          'bg-sky-100 dark:bg-sky-900': selectedCompanyId === null
        }"
      >
        <div class="flex items-center">
          <div class="shrink-0">
            <img
              class="w-8 h-8 rounded-full"
              src="/assets/company.webp"
              alt="All Companies"
            />
          </div>
          <div class="flex-1 min-w-0 ms-4">
            <p class="text-md font-bold text-gray-900 truncate dark:text-white">
              All Companies
            </p>
          </div>
          <div
            class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white"
          >
            {{ totalReports }} reports
          </div>
        </div>
      </li>
      <li
        *ngFor="let company of filteredCompanyDetails"
        class="py-3 sm:py-4 px-2 rounded-lg cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700"
        (click)="onCompanySelected(company)"
        [ngClass]="{
          'bg-sky-100 dark:bg-sky-900': selectedCompanyId === company.id_cia
        }"
      >
        <div class="flex items-center">
          <div class="shrink-0">
            <img
              class="w-8 h-8 rounded-full"
              src="/assets/company.webp"
              alt="{{ company.company_name }} logo"
            />
          </div>
          <div class="flex-1 min-w-0 ms-4">
            <p
              class="text-sm font-medium text-gray-900 truncate dark:text-white"
            >
              {{ company.company_name }}
            </p>
            <p class="text-sm text-gray-500 truncate dark:text-gray-400">
              id_cia {{ company.id_cia }}
            </p>
          </div>
          <div
            class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white"
          >
            {{ company.num_reports }} reports
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
